body {
  background-image: url("/images/Bugaria_Outskirts.png")
}
.areaHeader {
  border-radius: 4px;
  background-color: black;
  color: white;
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
}
